@import "tailwindcss";

html, body{
    background-color: #EFECE3;
}
#root{
    width: 100%;
    height: 100vh;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}